<!DOCTYPE html>

<html>

    <head>

        <title>{% block title %}{% endblock %} | JiggleBagels </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <nav class="py-6 px-6 flex justify-between items-center border-b border-peach-200">
            {% load static %}
            <img src="{% static 'static/images/logo.webp' %}" alt="Logo">
        </nav>
        <div class="px-6 py-6">

            {% block content %}
            {% endblock %}

        </div>
        {% comment %} <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script> {% endcomment %}
    </body>

</html>